{% extends 'base.html' %}

{% block content %}
<div class="container">

    <h2 class="my-3 text-center text-uppercase font-weight-bold">{{ book.title }}</h2>

    <div class="col-md-12">
        <div class="card mb-4 d-flex flex-row">
            <div class="row no-gutters">
                <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <div class="book-cover" style="background-image: url({{ url_for('book.image', cover_id=book.cover_id) }});"></div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><strong>{{ book.title }}</strong></h5>
                        <p class="card-text"><strong>Автор:</strong> {{ book.author }}</p>
                        <p class="card-text"><strong>Год:</strong> {{ book.year }}</p>
                        <p class="card-text"><strong>Жанр:</strong> {{ book.genres }}</p>
                        <p class="card-text"><strong>Средняя оценка:</strong> {{ book.avg_rating | default('Нет оценок') }}</p>
                        <p class="card-text"><strong>Количество рецензий:</strong> {{ book.review_count }}</p>
                        <p class="card-text"><strong>Описание:</strong> {{ book.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>  

    <div class="text-center my-3">
        <a class="btn btn-secondary btn-lg bg-dark bg-gradient" href="{{ url_for('book.show', book_id=book.id) }}">Написать рецензию</a>
    </div>
</div>

<style>
    .book-cover {
        width: 95%;
        height: 95%;
        background-size: cover;
        background-position: center;
    }
</style>

{% endblock %}
